*{
  box-sizing: border-box !important;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

p{
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.error{
  color: red !important;
  font-weight: 400;
}
.rating{
  color: #FF6F00 !important;
  font-weight: 500;
}
.uiContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.uiList{
  /*height: 37rem;*/
  /*overflow: auto;*/
  width: 90%;
  margin: 20px auto;
  flex: 1;
}
.uiSticky{
  position: sticky;
  top: 0;
  z-index: 2;
  background: #F9F9FB;
  padding: 1rem 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  /*border-bottom: 1px solid #D3D3D3;*/
}
.overflow-visible{
  overflow: visible !important;
}
.center{
  text-align: center;
}
.end{
  text-align: right;
}

.pr{
  padding-right: 1.5rem;
}
.mr{
  margin-right: 1.5rem !important;
}