.container {
  display: grid;
  grid-template-areas:
    "aside main";
  grid-template-columns: auto 1fr;
  /*align-items: center;*/
  min-height: 100vh;
  /*position: relative;*/
}
.main {
  grid-area: main;
  min-height: 100%;
}
.aside{
  grid-area: aside;
  background: #F9F9FB;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-right: 1px solid #D3D3D3;
  max-height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
  /*display: flex;*/
  /*align-items: center;*/
}
.sidebar{
  /*display: contents;*/
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  grid-area: footer;
  justify-self: center;
  font-size: .8rem;
}

.logo{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  background: #263238;
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.logo:hover{
  font-weight: 600;
  /*with border to undo the text shift line-height is used by reducing some pixels; with outline text shift problem solved*/
  /*line-height: calc(2.5rem - 5px);*/
  /*border: 3px solid #D3D3D3 !important;*/
  outline: 3px solid #D3D3D3 !important;
  background: #fff;
  color: #263238;
}